<div class='page'>
	<canvas class='canvas'></canvas>
	<%= render '/layouts/flash' %>
	<% if user_signed_in? %>
		<h1 class='heading--home'>Hello <%= current_user.name %> - how are you doing today?</h1>
		<div class='container'>
			<% if @notes.empty? %>
				<div class='container__message'>
					You have no notes.
				</div>
			<% else %>
				<div class='container__content'>
					<% @notes.each do |note| %>
						<li class="container__pane container__pane--orange"><a><%= note.note %></a></li>
					<% end %>
				</div>
			<% end %>
			<div class="form form--boards">
				<%= form_tag("/create", method: :post) do |f|%>
					<%= label_tag(:note, "New note") %>
					<%= text_field_tag(:note) %>
					<br/>
					<%= submit_tag("New note") %>
				<% end %>
			</div>
			<% if !@invitations.empty? %>
				<div class='container__invitation'>
					<div class="heading--medium heading--home">
						You have <%=  @invitations.size.humanize %> invitation<%= "s" unless @invitations.size == 1 %>!
					</div>
					<% @invitations.each do |inv| %>
						<li><%= inv.user.name %> has invited you to join <%= Board.find(inv.board_id).name %></li>
						<%= link_to("Accept", invitations_accept_path(board_id: inv.board_id, invitation_id: inv.id) , method: :post) %> |
						<%= link_to("Decline", invitations_reject_path(board_id: inv.board_id, invitation_id: inv.id) , method: :post) %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% else %>
		<h1 class='heading--home heading--big'> Welcome to your Dashboard </h1>
		<h2 class='heading--home'>We'll keep you organized, so you can take care of the rest.</h2>
		<div class='form form--home'>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true %>
			  </div>

			  <div class="field">
			    <%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off" %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field--remember">
			      <%= f.check_box :remember_me%>
			      <%= f.label :remember_me, class: "form__label--remember" %>
			    </div>
			  <% end -%>

			  <div class="actions">
			    <%= f.submit "Log in" %>
			  </div>
			<% end %>
			<%= render "users/shared/links" %>
		</div>
	<% end %>
</div>

<%= render '/layouts/canvas' %>