<div class="page">
	<canvas class="canvas"></canvas>
	<%= render '/layouts/flash' %>
	<h1 class="heading--home"><%= @board.name %></h1>
	<h2 class="heading--home">Created by <%= User.find(@board.owner).name %></h2>
	<div class='container'>
		<% if @notes.empty? %>
			<div class='container__message'>
				This board has no notes.
			</div>
		<% else %>
			<div class='container__content'>
				<% @notes.each do |note| %>
					<li class="container__pane container__pane--orange"><a><%= note.note %></a>
							<div class="button--small">
								<%= form_tag("/notes/#{note.id}", method: :delete) do |f|%>
									<br/>
									<%= submit_tag("Delete note") %>
								<% end %>
							</div>
						</li>
				<% end %>
			</div>
		<% end %>
		<div class="form form--boards">
			<%= form_tag("/boards/#{@board.id}/create", method: :post) do |f|%>
				<%= label_tag(:note, "New note") %>
				<%= text_field_tag(:note) %>
				<%= hidden_field_tag(:board_id, @board.id) %>
				<br/>
				<%= submit_tag("New note") %>
			<% end %>
		</div>
		<% if current_user.id == @board.owner %>
			<div class="form form--boards">
				<%= form_tag("/invitations", method: "post")do %>
					<%= label_tag(:recipient_email, "Email") %>
					<%= text_field_tag(:recipient_email) %>
					<%= hidden_field_tag(:board_id, @board.id) %>
					<br/>
					<%= submit_tag("Invite to your board") %>
				<% end %>
			</div>
		<% end %>
		<div class='container__invitation'>
			<div class="heading--medium heading--home">
				There <%= @board.users.size > 1 ? "are" : "is"%> <%=  @board.users.size.humanize %> member<%= "s" unless @board.users.size == 1 %> on this board.
			</div>
			<% @board.users.each do |user| %>
				<% if current_user.id == @board.owner  && user.id != @board.owner %>
					<li style="display: inline-block;"><%= user.name %> <%= user.id == @board.owner ? "(owner)" : nil %></li> |
					<%= link_to("Remove", boards_remove_path(board_id: @board.id, user_id: user.id) , method: :post) %>
				<% else %>
					<li ><%= user.name %> <%= user.id == @board.owner ? "(owner)" : nil %></li>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<%= render '/layouts/canvas' %>