<div class='header'>
	<li class='header_link'> <%= link_to "Home", root_path%></li>
	<% if current_user %>
	  <!-- <li class='header_link'> <%= link_to "Profile", user_path(current_user)%></li> -->
	  <li class='header_link'> <%= link_to "Boards", boards_path%></li>
	  <li class='header_link'> <%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	<% else %>
	  <li class='header_link'> <%= link_to "Log in", root_path %></li>
	  <li class='header_link'> <%= link_to "Sign up", new_user_registration_path%></li>
	<% end %>
</div>
